{% extends "base.html" %} {% block content %}
<div class="hero-image">
    <img src="/sunset.jpg" alt="Foggy mountains" />
</div>

<div class="content">
    <p>Hi, I'm Noah. Some things about me:</p>

    <ul>
        <li>
            I'm interested in reducing AI risks, both catastrophic and
            near-term.
        </li>
        <li>
            I spent two years building cool stuff for trading at Jump Trading.
        </li>
        <li>I'm an avid hiker, sailor, and cyclist.</li>
        <li>
            In summer 2025, I biked from Chicago to Iowa City
            <a href="https://louminator.github.io/otherthings/">
                with my father</a
            >.
        </li>
    </ul>
</div>
{% endblock content %}
